.homepage-component-style {
    line-height: 100;
    font-family: 'Open Sans';
    
    h1 {
        text-align: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: 5rem;
    }
    #info{
        width: 100%;
        text-align: center;
        margin-top: 5vh;
    }
    
    #contactUs{
        text-decoration: underline;
        color: inherit; 
    }
    
    #externalLinks{
        text-decoration: underline;
    }
    .homepage-statements {
        width: 90%;
        margin: auto;
        font-size: 3rem;
        margin-bottom: 5rem;
    }
    .homepage-statements td {
        vertical-align: top;
    }
    .homepage-statements th, .homepage-statements td {
        padding: 15px;
    }
    .homepage-statements td:first-child {
        text-align: right;
        font-weight: bold;
        padding-right: 15px;
    }
}